{% extends 'base.html' %}

{% block title %}
    Listado de Cursos Eliminados
{% endblock %}

{% block content %}
    <h1>{{ titulo }}</h1>
    <ul>
        {% for curso in cursos %}
            <li>
                <div class="curso-container">
                    <div class="curso-title">{{ curso.nombre }}</div>
                    <div class="curso-actions">
                        <a href="{% url 'show_curso' curso.id %}" class="btn">Restaurar</a>
                    </div>
                </div>
                <div class="curso-details">
                    Fecha de publicación: {{ curso.fecha_publicacion|date:"d/m/Y" }} | Precio: <strong>{{ curso.precio }}</strong>
                </div>
            </li>
        {% empty %}
            <li>No hay cursos eliminados</li>
        {% endfor %}
    </ul>
{% endblock %}
