{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'learning/css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'learning/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'learning/css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'learning/css/style-student.css' %}">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <title>
            {% block title %}
                Plataforma de Aprendizaje
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            {% include 'navbar.html' %}
        </header>
        {% block content %}{% endblock %}
    </body>
    <script src="{% static 'learning/js/bootstrap.js' %}"></script>
</html>