{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="{% static 'learning/css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'learning/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'learning/css/navbar.css' %}">
        {% block css %}
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/fontawesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/solid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'learning/css/pygments.css' %}">
        {% endblock %}
        <title>
            {% block title %}
                Plataforma de Aprendizaje
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            {% include 'navbar.html' %}
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <script src="{% static 'learning/js/bootstrap.js' %}"></script>
</html>