<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand" href="#">Cursierra</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'list_cursos' %}">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_estudiantes' %}">Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_inscripciones' %}">Inscripciones</a>
                </li>
            </ul>
            {% if request.path == '/cursos/' %}
            <form class="form-inline d-flex" method="get" action="{% url 'list_cursos' %}">
                <input class="form-control mr-sm-2" type="search" name="search" value="{{ busqueda }}" placeholder="Buscar cursos" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
