body { 
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    margin: 20px; 
}

h1 { 
    color: #333;
    margin-bottom: 20px;
}

#curso-ul {
    list-style-type: none;
    padding: 0;
}

.nav-bullet {
    list-style-type: none;
    padding: 0;
}


div.curso-desc ul {
    list-style-type: none;
    padding-left: 0;
}

div.curso-desc ul li::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://info.openpath.com/hubfs/checkmark-round-orange.svg');
    margin-right: 10px;
    vertical-align: middle;
}

div.curso-desc ul ul {
    padding-left: 34px;
}

#curso-li {
    background: #ffd5ae;
    margin: 5px 0;
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 16px;
    transition: all 0.2s ease-in-out;
}

#curso-li:hover {
    transform: translateX(50px);
    background: #ffbd7f;
}

.curso-nombre {
    font-size: 1.2em;
    margin: 0;
}

.curso-title {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
}

.curso-details {
    font-size: 0.8em;
    color: #777;
    margin-top: 4px;
}

.estudiante-item {
    margin-bottom: 15px;
}

.estudiante-nombre a {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.estudiante-email a {
    text-decoration: none;
    color: rgb(105, 121, 190);
    font-size: 0.9em;
}

.estudiante-email a:hover,
.estudiante-email a:focus {
    text-decoration: underline;
}

.fecha-inscripcion {
    font-size: 0.8em;
    color: #777;
    margin-top: 4px;
}

.curso-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curso-actions {
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

li:hover .curso-actions {
    visibility: visible;
    opacity: 1;
}

p {
    color: #666;
}

a {
    color: #8baccc;
}

.note {
    background-color: #CFD4FC;
    border-left: 3px solid #0F1C8A;
    padding: 0.5em;
    margin-bottom: 1em;
}

.note h5 {
    color: #0F1C8A;
    vertical-align: middle;
}

.note h5::before {
    content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0xMiAxMS41VjE2LjUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjxwYXRoIGQ9Ik0xMiA3LjUxTDEyLjAxIDcuNDk4ODkiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjxwYXRoIGQ9Ik0xMiAyMkMxNy41MjI4IDIyIDIyIDE3LjUyMjggMjIgMTJDMjIgNi40NzcxNSAxNy41MjI4IDIgMTIgMkM2LjQ3NzE1IDIgMiA2LjQ3NzE1IDIgMTJDMiAxNy41MjI4IDYuNDc3MTUgMjIgMTIgMjJaIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvcGF0aD48L3N2Zz4=");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

h1 a.headerlink, 
h2 a.headerlink, 
h3 a.headerlink, 
h4 a.headerlink, 
h5 a.headerlink, 
h6 a.headerlink {
    text-decoration: none;
    visibility: hidden;
    color: #ffbd7f;
    content: "¶";
}

h1:hover a.headerlink, 
h2:hover a.headerlink, 
h3:hover a.headerlink, 
h4:hover a.headerlink, 
h5:hover a.headerlink, 
h6:hover a.headerlink {
    visibility: visible;
}

.toc-sidebar {
    position: fixed;
    top: 100px;
    right: 200px;
    width: 300px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

